<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <%= link_to task_path(task.id) do %>
      <li><input type="checkbox"><%= task.title  %>
      <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"}%>
      </li>
    <% end %>
  <% end %>
</ul>


<p><%= link_to "Add a new task", new_task_path %></p>
